<div class="chatbox-holder">

    <div class="chatbox chatbox-min">
        <div class="chatbox-top">
            <div class="chatbox-avatar">
                <span class="icon">
                    <i class="fas fa-comments"></i>
                </span>
            </div>
            <div class="chat-partner-name">
                <span class="status online"></span>
                <a id="online-users">Hey ! Chat with us !!</a>
            </div>
            <div class="chatbox-icons">
                    <a class="button is-rounded is-small" id="open-chat">
                        <i class="fas fa-chevron-up" id="chat-menu"></i>
                    </a>
            </div>
        </div>

        <div class="chat-messages" id="message-box-holder">
        </div>

        <div class="chat-input-holder">
            <div class="field is-grouped">
                <p class="control is-expanded">
                    <input class="input" type="text" placeholder="Type your message" id="chatText">
                </p>
                <p class="control">
                    <button class="button is-primary" type="submit" id="chat">
                        <span class="icon">
                            <i class="fas fa-paper-plane"></i>
                        </span>
                    </button>
                </p>
            </div>
        </div>

        <div class="attachment-panel">
            <div class="field is-grouped ml-4 mr-6 my-2">
                <p class="control is-expanded">
                    <input class="input is-small is-rounded" type="text" placeholder="Add your name before initiate chat" id="nick-name">
                </p>
                <p class="control mr-6">
                    <button class="button is-rounded is-small" type="submit" id="click-name">
                        <span class="icon" style="font-size: 12px;">
                            <i class="fas fa-plus"></i>
                        </span>
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>