<footer class="footer py-6">
    <div class="content has-text-centered">
      <p>
        <strong> Created</strong> by <a href="http://adarshvk.herokuapp.com" target="_blank">Adarsh v k</a>. 
        <strong> © 2012 - 2021 24X7 News ® All rights reserved </strong>
      </p>
    </div>
  </footer>