<nav class="navbar is-spaced has-shadow is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="./assets/logo.png" style="width: 300; max-height: 3rem;">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <a href="/" class="navbar-item">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-home"></i>
                    </span>
                    <span>Home</span>
                </span>
            </a>

            <a href="/sports" class="navbar-item">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-running"></i>
                    </span>
                    <span> Sports</span>
                </span>
            </a>

            <a href="/contact" class="navbar-item">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-address-card"></i>
                    </span>
                    <span> Contact us</span>
                </span>
            </a>

            <a href="/about" class="navbar-item">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-info-circle"></i>
                    </span>
                    <span> About us</span>
                </span>
            </a>
        </div>
    </div>
</nav>