<div class="container is-max-desktop">
    <section class="featured">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <h2 class="subtitle">Featured Articles</h2>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <div class="field has-addons has-addons-centered">
                        <div class="control">
                            <a class="button is-small" disabled>
                                <i class="fas fa-chevron-left"></i>
                            </a>
                        </div>
                        <div class="control">
                            <a class="button is-small">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <% for(var i=0; i<latestNews.length; i++) {%>
                <div class="column is-3">
                    <article>
                        <figure class="image is-5by3">
                            <img src="<%= latestNews[i].img_url %>" />
                        </figure>
                        <h2 class="subtitle">
                            <%= latestNews[i].title %>
                        </h2>
                        <span class="tag is-rounded">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fas fa-history"></i>
                                </span>
                                <time>
                                    <%= moment(latestNews[i].createdAt).format("MMMM Do YYYY, h:mm A") %>
                                </time>
                            </span>
                        </span>
                    </article>
                </div>
                <% } %>
        </div>
    </section>
</div>